// = tells pug to set content for el equal to variable we've passed in
// can use interpolation if there is other content included in element
// value inside curlys is name of key
html
	head
		title= title
	body
		h1= heading
		h2 Welcome, #{name}
