html
  head
    title Welcome
  body
    h1 My Application

    ul
      li: a(href='/cats') Cats
      li: a(href='/dogs') Dogs
      li: a(href='/companies') Companies
      li: a(href='/users') Users