<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href="https://unpkg.com/purecss@2.0.3/build/pure-min.css")
    title Pet Track
  body
    header
      ul
        li
          a(href='/pets') Pets
        li
          a(href="/owners") Owners

    main
      block mainContent
    footer
