extends layout

mixin ownerRow(firstName, lastName)
  tr
    td=firstName
    td=lastName
    td


block mainContent
  table.pure-table.pure-table-striped
    thead
      tr
        th First Name
        th Last Name
        th Pets

    tbody
      each owner in owners
        +ownerRow(owner.firstName, owner.lastName)
      else
        tr
          td(colspan=4) No Owners

  form.pure-form(method="post", action="/owners")
    fieldset
      legend Create a owner
      input(type="text", name="firstName", placeholder="First Name", required)
      input(type="text", name="lastName", placeholder="Last Name", required)
      button(type="submit") Create this owner
